
.table:hover{
	stroke-width: 3px;
	stroke-linejoin: round;
	fill: #222 !important;
	cursor: pointer;
}

.bar:hover{
	stroke-width: 3px;
	stroke-linejoin: round;
	fill: #000 !important;
	cursor: pointer;
}

.seatmap{
    display: flex;
    justify-content: center;
}

header{
    margin-bottom: 60px;
    margin-top: 0;
}

.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222;
    display: flex;
}
.navbar{
    display: inline;
}
.navcontainer li {
    display: inline;
}
.logo{
    float:left;
    position: absolute;
    top: 0;
    left: 10%;
}
.li1 {
	float: right;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 5px 5px;
	font-family: Helvetica;
	font-size: 20px;
	border-radius: 25px;
	background: #222;
	width: 40%;
    margin-top: 45px;
}